.content
  .row
    - if true
      /abouts feature is removed for microsites
      - #if show_card_except_microsite_features("abouts")  
      = #render :partial => "admin/microsites/cards", :locals => {:icon => "b_&_w", :objs => @event, :url => "abouts", :img => "about.png"} 
        
      - if show_card_except_microsite_features("speakers")
        = render :partial => "admin/microsites/cards", :locals => {:icon => "b_&_w", :objs => @microsite.event.speakers, :url => "speakers", :@count => @count, :img => "speakers.png"}

      - if show_card_except_microsite_features("agendas")
        = render :partial => "admin/microsites/cards", :locals => {:icon => "b_&_w", :objs => @microsite.event.agendas, :url => "agendas", :@count => @count, :img => "agenda.png"}

      - if show_card_except_microsite_features("faqs")
        = render :partial => "admin/microsites/cards", :locals => {:icon => "b_&_w", :objs => @microsite.event.faqs, :url => "faqs", :@count => @count, :img => "faq_1.png"}

      - if show_card_except_microsite_features("images")
        = render :partial => "admin/microsites/cards", :locals => {:icon => '', :img => "galler_1y.png", :objs => @microsite.event.images, :url => "images", :@count => @count}


      - if show_card_except_microsite_features("contacts")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img => "contact_us.png", :objs => @microsite.event.contacts, :url => "contacts", :@count => @count}

      - if show_card_except_microsite_features("emergency_exits")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img => "venue.png", :objs => @event, :url => "emergency_exits", :@count => 0}

      - if show_card_except_microsite_features("sponsors")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img => "sponsor.png", :objs => @microsite.event.sponsors, :url => "sponsors", :@count => @count}
        
      - if show_card_except_microsite_features("registrations")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img => "registration_black.png", :objs => @microsite, :url => "registrations", :@count => @count}
        
      - if show_card_except_microsite_features("custom_page1s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page1s, :url => "custom_page1s"}
      
      - if show_card_except_microsite_features("custom_page2s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page2s, :url => "custom_page2s"}
      
      - if show_card_except_microsite_features("custom_page3s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page3s, :url => "custom_page3s"}
      
      - if show_card_except_microsite_features("custom_page4s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page4s, :url => "custom_page4s"}
      
      - if show_card_except_microsite_features("custom_page5s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page5s, :url => "custom_page5s"}        
      
      - if show_card_except_microsite_features("custom_page6s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page6s, :url => "custom_page6s"}        
      
      - if show_card_except_microsite_features("custom_page7s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page7s, :url => "custom_page7s"}        
      
      - if show_card_except_microsite_features("custom_page8s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page8s, :url => "custom_page8s"}        
      
      - if show_card_except_microsite_features("custom_page9s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page9s, :url => "custom_page9s"}        
      
      - if show_card_except_microsite_features("custom_page10s")
        = render :partial => "admin/microsites/cards", :locals => {:icon => 'b_&_w', :img =>"custom_b.png", :objs => @microsite.event.custom_page10s, :url => "custom_page10s"}   