-if false
  %h3 
    = @message
  %table
    - @registration.attributes.except('id', 'created_at', 'updated_at', 'event_id', 'custom_css','custom_js', 'custom_source_code','email_field','parent_id').map{|key, value| (value['label'].present? and value['option_type'].present?) ? [key,value] : nil}.compact.each do |key,hsh|
      %tr
        %td= "#{hsh['label']}"  ":"
        %td= @user_registration["#{key}"]
        - if (hsh["option_type"].present? and ["Radio Button","Check Box","Drop-Down list"].include?(hsh["option_type"]) and (hsh["text_box_required_after_options"].present? and hsh["text_box_required_after_options"] == "yes"))
          %td= "text box"  ":" 
          %td= @user_registration["text_box_for_checkbox_or_radiobutton"][key].present? ? @user_registration["text_box_for_checkbox_or_radiobutton"][key].first : ""
    /
    / .m-l-18
    /   .mdl-cell--12-col.mdl-cell--12-col-tablet
    /     = back_button_detailed_page(:back)
!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Hobnob
  = favicon_link_tag 'fevicon.png'
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0", :name => "viewport"}/
  %link{:href => "/assets/main_look_and_fill.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/assets/look_and_fill_responsive.css", :rel => "stylesheet", :type => "text/css"}/
  - @font_hash.each do |hash|
    - if hash.has_key? :url
      :css
        @font-face {
          font-family: "#{hash[:font_name]}";
          src: url("#{hash[:url][0]}") format("#{hash[:format]}"),
               url("#{hash[:url][1]}") format("#{hash[:format]}");
        }
- if @registration_look_and_feel.present? and @registration_look_and_feel.body_background_image_file_name.present?
  %body{:style=>"background-image:url(#{@registration_look_and_feel.body_background_image.url});", :class => "dynamic-user-form"}
    %header.header{:style => "background-color:#{@registration_look_and_feel.logo_back_color}"}
      - if params[:show_buttons].present? and params[:show_buttons] == "true"
        .emailer_button{:style => "float:right;margin-right:28px;margin-top:15px;"}
          = link_to "Edit", edit_admin_event_registration_look_and_feel_path(:event_id => @event.id, :id=>@registration_look_and_feel.id),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
          = link_to "Save", admin_event_user_registrations_path(:event_id => @event.id),{:style => "background:#4d4e4f;color:#fff;padding:6px 8px;text-decoration:none;"}
      .container
        .brand-logo{:style=>"float:#{@registration_look_and_feel.logo_alignment}"}
          - if @registration_look_and_feel.logo_file_name.present?
            = image_tag(@registration_look_and_feel.logo.url, :width=>"auto")#,:style => "float:#{@registration_look_and_feel.logo_alignment}")
          - else
            / %img{:src => "/assets/brand-logo.png"}/
    .container
      .form-banner
        - if @registration_look_and_feel.banner_image_file_name.present?
          = image_tag(@registration_look_and_feel.banner_image.url(:large))
          .header-inner
            - if @registration_look_and_feel.header_formatter.present?
              %p
                = @registration_look_and_feel.header_formatter.html_safe
        - else
    .form_Section
      .container.bgfff
        = render :partial => 'user_registration_show'
    - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_require == "yes"
      %footer
        - if @registration_look_and_feel.footer_color.present? or @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          - #if @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          .container.box-shadow-block{:style => "background-color:#{@registration_look_and_feel.footer_color}"}
            .bottom.clear.clearfix
              .copyright.cvent-footer
                .cvent-footer-wrapper
                  %a{:href => "http://www.cvent.com/", :target => "_blank"}
                    - if  @registration_look_and_feel.present? and @registration_look_and_feel.footer_image_file_name.present?
                      = image_tag(@registration_look_and_feel.footer_image.url(:small))
                    - else
                  - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_formatter.present?
                    = @registration_look_and_feel.footer_formatter.html_safe
                  %p
- elsif @registration_look_and_feel.present? and @registration_look_and_feel.body_background_color.present?
  %body{:style => "background-color:#{@registration_look_and_feel.body_background_color};", :class => "dynamic-user-form"}
    %header.header{:style => "background-color:#{@registration_look_and_feel.logo_back_color}"}
      - if params[:show_buttons].present? and params[:show_buttons] == "true"
        .emailer_button{:style => "float:right;margin-right:28px;margin-top:15px;"}
          = link_to "Edit", edit_admin_event_registration_look_and_feel_path(:event_id => @event.id, :id=>@registration_look_and_feel.id),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
          = link_to "Save", admin_event_user_registrations_path(:event_id => @event.id),{:style => "background:#4d4e4f;color:#fff;padding:6px 8px;text-decoration:none;"}
      .container
        .brand-logo{:style=>"float:#{@registration_look_and_feel.logo_alignment}"}
          - if @registration_look_and_feel.logo_file_name.present?
            = image_tag(@registration_look_and_feel.logo.url, :width=>"auto")#,:style => "float:#{@registration_look_and_feel.logo_alignment}")
          - else
            / %img{:src => "/assets/brand-logo.png"}/
    .container
      .form-banner
        - if @registration_look_and_feel.banner_image_file_name.present?
          = image_tag(@registration_look_and_feel.banner_image.url(:large))
          .header-inner
            - if @registration_look_and_feel.header_formatter.present?
              %p
                = @registration_look_and_feel.header_formatter.html_safe
        - else
    .form_Section
      .container.bgfff
        = render :partial => 'user_registration_show'
    - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_require == "yes"
      %footer
        - if @registration_look_and_feel.footer_color.present? or @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          - #if @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          .container.box-shadow-block{:style => "background-color:#{@registration_look_and_feel.footer_color}"}
            .bottom.clear.clearfix
              .copyright.cvent-footer
                .cvent-footer-wrapper
                  %a{:href => "http://www.cvent.com/", :target => "_blank"}
                    - if  @registration_look_and_feel.present? and @registration_look_and_feel.footer_image_file_name.present?
                      = image_tag(@registration_look_and_feel.footer_image.url(:small))
                    - else
                  - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_formatter.present?
                    = @registration_look_and_feel.footer_formatter.html_safe
                  %p
- else #@registration_look_and_feel.body_background_image_file_name.present?
  %body{:style=>"background-image:url(#{@registration_look_and_feel.body_background_image.url});", :class => "dynamic-user-form"}
    %header.header{:style => "background-color:#{@registration_look_and_feel.logo_back_color}"}
      - if params[:show_buttons].present? and params[:show_buttons] == "true"
        .emailer_button{:style => "float:right;margin-right:28px;margin-top:15px;"}
          = link_to "Edit", edit_admin_event_registration_look_and_feel_path(:event_id => @event.id, :id=>@registration_look_and_feel.id),{:style => "background:#1cb1ba;color:#fff;padding:6px 8px;text-decoration:none;"}
          = link_to "Save", admin_event_user_registrations_path(:event_id => @event.id),{:style => "background:#4d4e4f;color:#fff;padding:6px 8px;text-decoration:none;"}
      .container
        .brand-logo{:style=>"float:#{@registration_look_and_feel.logo_alignment}"}
          - if @registration_look_and_feel.present? and @registration_look_and_feel.logo_file_name.present?
            = image_tag(@registration_look_and_feel.logo.url, :width=>"auto")#,:style => "float:#{@registration_look_and_feel.logo_alignment}")
          - else
            / %img{:src => "/assets/brand-logo.png"}/
    .container
      .form-banner
        - if @registration_look_and_feel.present? and @registration_look_and_feel.banner_image_file_name.present?
          = image_tag(@registration_look_and_feel.banner_image.url(:large))
          .header-inner
            - if @registration_look_and_feel.header_formatter.present?
              %p
                = @registration_look_and_feel.header_formatter.html_safe
        - else
          / %img{:src => "/assets/form-banner.jpg"}/
    .form_Section
      .container.bgfff
        = render :partial => 'user_registration_show'
    - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_require == "yes"
      %footer
        - if @registration_look_and_feel.footer_color.present? or @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          - #if @registration_look_and_feel.footer_image.present? or @registration_look_and_feel.footer_formatter.html_safe.present?
          .container.box-shadow-block{:style => "background-color:#{@registration_look_and_feel.footer_color}"}
            .bottom.clear.clearfix
              .copyright.cvent-footer
                .cvent-footer-wrapper
                  %a{:href => "http://www.cvent.com/", :target => "_blank"}
                    - if  @registration_look_and_feel.present? and @registration_look_and_feel.footer_image_file_name.present?
                      = image_tag(@registration_look_and_feel.footer_image.url(:small))
                    - else
                  - if @registration_look_and_feel.present? and @registration_look_and_feel.footer_formatter.present?
                    = @registration_look_and_feel.footer_formatter.html_safe
