%table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered.sequenceInputWidht{"template-pagination" => "custom/pager"}
  %tr
    %th Consent Questions
    %th Answer Type
    %th 
  - objs.each do |consent_question|
    %tr
      %td.font16= consent_question.question rescue nil
      %td.font16= consent_question.answer_type.humanize
      %td.IconDrp
        = more_vert_button(consent_question.id)
        %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{consent_question.id}"}
          = link_to edit_admin_event_mobile_application_mobile_consent_question_path(@event.id,consent_question.mobile_application_id,consent_question.id),:class => "mdl-menu__item" do
            Edit
          = link_to admin_event_mobile_application_mobile_consent_question_path(@event.id,consent_question.mobile_application_id,consent_question.id), method: :delete, data: { confirm: 'Are you sure?' },:class =>"mdl-menu__item" do
            Delete