.save_button.mdl-card.agendaHeight
  = form_for [:admin, @event, @award], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-shadow--1dp.p-b-35
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10.m-b-15
          General Information
      = f.custom_text_field :title, "Category *", :view_popup => {:image_path => "award/general_information/Help_Awards_CategoryField.jpg", :rel=> "agenda_winners", :title => "Winner"},"background" => "false"
      = f.custom_text_area_field :description, "description", "background" => "false"
      = hidden_field_tag "type","#{params[:type]}" if params[:type].present?
      - if @event.present? and @event.parent_id.present?
        .mdl-grid.p-v-5.form-group{:style=>"width:32%;"}
          .md-checkbox
            %label
              = f.check_box :language_updated, {:class => "", :style => "mystyle"},"true","false"
              %span.checkbox 
              Is language updated
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)