= stylesheet_link_tag "css/telecaller_show"
.mdl-grid.ml-color--shades-white.mdl-card.mdl-shadow--1dp#tab1.bottomTime
  .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8.m-t-15 
    %h4.heading-border.p-t-10.m-b-15
      General Information
    = form_for @invitee_data, :url=> admin_event_telecaller_invitees_path(:event_id => @event.id), :method => :post,:html => {:class =>'form-horizontal'}, :builder => CustomFormBuilder do |f|
      / - session[:invitee_datum_id] = @data.id
      = f.custom_text_field :attr1, @telecaller_accessible_columns["attr1"][0], :value => f.object.attr1.present? ? f.object.attr1 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr1")

      = f.custom_text_field :attr2, @telecaller_accessible_columns["attr2"][0], :value => f.object.attr2.present? ? f.object.attr2 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr2")
      
      = f.custom_text_field :attr3, @telecaller_accessible_columns["attr3"][0], :value => f.object.attr3.present? ? f.object.attr3 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr3")
      
      = f.custom_text_field :attr4, @telecaller_accessible_columns["attr4"][0], :value => f.object.attr4.present? ? f.object.attr4 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr4")
      
      = f.custom_text_field :attr5, @telecaller_accessible_columns["attr5"][0], :value => f.object.attr5.present? ? f.object.attr5 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr5")
      
      = f.custom_text_field :attr6, @telecaller_accessible_columns["attr6"][0], :value => f.object.attr6.present? ? f.object.attr6 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr6")
      
      = f.custom_text_field :attr7, @telecaller_accessible_columns["attr7"][0], :value => f.object.attr7.present? ? f.object.attr7 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr7")

      = f.custom_text_field :attr8, @telecaller_accessible_columns["attr8"][0], :value => f.object.attr8.present? ? f.object.attr8 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr8")

      = f.custom_text_field :attr9, @telecaller_accessible_columns["attr9"][0], :value => f.object.attr9.present? ? f.object.attr9 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr9")

      = f.custom_text_field :attr10, @telecaller_accessible_columns["attr10"][0], :value => f.object.attr10.present? ? f.object.attr10 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr10")

      = f.custom_text_field :attr11, @telecaller_accessible_columns["attr11"][0], :value => f.object.attr11.present? ? f.object.attr11 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr11")
      
      = f.custom_text_field :attr12, @telecaller_accessible_columns["attr12"][0], :value => f.object.attr12.present? ? f.object.attr12 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr12")
      
      = f.custom_text_field :attr13, @telecaller_accessible_columns["attr13"][0], :value => f.object.attr13.present? ? f.object.attr13 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr13")

      = f.custom_text_field :attr14, @telecaller_accessible_columns["attr14"][0], :value => f.object.attr14.present? ? f.object.attr14 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr14")

      = f.custom_text_field :attr15, @telecaller_accessible_columns["attr15"][0], :value => f.object.attr15.present? ? f.object.attr15 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr15")

      = f.custom_text_field :attr16, @telecaller_accessible_columns["attr16"][0], :value => f.object.attr16.present? ? f.object.attr16 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr16")

      = f.custom_text_field :attr17, @telecaller_accessible_columns["attr17"][0], :value => f.object.attr17.present? ? f.object.attr17 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr17")

      = f.custom_text_field :attr18, @telecaller_accessible_columns["attr18"][0], :value => f.object.attr18.present? ? f.object.attr18 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr18")

      = f.custom_text_field :attr19, @telecaller_accessible_columns["attr19"][0], :value => f.object.attr19.present? ? f.object.attr19 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr19")

      = f.custom_text_field :attr20, @telecaller_accessible_columns["attr20"][0], :value => f.object.attr20.present? ? f.object.attr20 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr20")

      = f.custom_text_field :attr21, @telecaller_accessible_columns["attr21"][0], :value => f.object.attr21.present? ? f.object.attr21 : "","background" => "false", :class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr21")

      = f.custom_text_field :attr22, @telecaller_accessible_columns["attr22"][0], :value => f.object.attr22.present? ? f.object.attr22 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr22")
        
      = f.custom_text_field :attr23, @telecaller_accessible_columns["attr23"][0], :value => f.object.attr23.present? ? f.object.attr23 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr23")

      = f.custom_text_field :attr24, @telecaller_accessible_columns["attr24"][0], :value => f.object.attr24.present? ? f.object.attr24 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr24")

      = f.custom_text_field :attr25, @telecaller_accessible_columns["attr25"][0], :value => f.object.attr25.present? ? f.object.attr25 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr25")

      = f.custom_text_field :attr26, @telecaller_accessible_columns["attr26"][0], :value => f.object.attr26.present? ? f.object.attr26 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr26")

      = f.custom_text_field :attr27, @telecaller_accessible_columns["attr27"][0], :value => f.object.attr27.present? ? f.object.attr27 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr27")

      = f.custom_text_field :attr28, @telecaller_accessible_columns["attr28"][0], :value => f.object.attr28.present? ? f.object.attr28 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr28")

      = f.custom_text_field :attr29, @telecaller_accessible_columns["attr29"][0], :value => f.object.attr29.present? ? f.object.attr29 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr29")

      = f.custom_text_field :attr30, @telecaller_accessible_columns["attr30"][0], :value => f.object.attr30.present? ? f.object.attr30 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr30")
      = f.custom_text_field :attr31, @telecaller_accessible_columns["attr31"][0], :value => f.object.attr31.present? ? f.object.attr31 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr31")
      = f.custom_text_field :attr32, @telecaller_accessible_columns["attr32"][0], :value => f.object.attr32.present? ? f.object.attr32 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr32")
      = f.custom_text_field :attr33, @telecaller_accessible_columns["attr33"][0], :value => f.object.attr33.present? ? f.object.attr33 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr33")
      = f.custom_text_field :attr34, @telecaller_accessible_columns["attr34"][0], :value => f.object.attr34.present? ? f.object.attr34 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr34")
      = f.custom_text_field :attr35, @telecaller_accessible_columns["attr35"][0], :value => f.object.attr35.present? ? f.object.attr35 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr35")
      = f.custom_text_field :attr36, @telecaller_accessible_columns["attr36"][0], :value => f.object.attr36.present? ? f.object.attr36 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr36")
      = f.custom_text_field :attr37, @telecaller_accessible_columns["attr37"][0], :value => f.object.attr37.present? ? f.object.attr37 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr37")
      = f.custom_text_field :attr38, @telecaller_accessible_columns["attr38"][0], :value => f.object.attr38.present? ? f.object.attr38 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr38")
      = f.custom_text_field :attr39, @telecaller_accessible_columns["attr39"][0], :value => f.object.attr39.present? ? f.object.attr39 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr39")
      = f.custom_text_field :attr40, @telecaller_accessible_columns["attr40"][0], :value => f.object.attr40.present? ? f.object.attr40 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr40")
      = f.custom_text_field :attr41, @telecaller_accessible_columns["attr41"][0], :value => f.object.attr41.present? ? f.object.attr41 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr41")
      = f.custom_text_field :attr42, @telecaller_accessible_columns["attr42"][0], :value => f.object.attr42.present? ? f.object.attr42 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr42")
      = f.custom_text_field :attr43, @telecaller_accessible_columns["attr43"][0], :value => f.object.attr43.present? ? f.object.attr43 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr43")
      = f.custom_text_field :attr44, @telecaller_accessible_columns["attr44"][0], :value => f.object.attr44.present? ? f.object.attr44 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr44")
      = f.custom_text_field :attr45, @telecaller_accessible_columns["attr45"][0], :value => f.object.attr45.present? ? f.object.attr45 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr45")
      = f.custom_text_field :attr46, @telecaller_accessible_columns["attr46"][0], :value => f.object.attr46.present? ? f.object.attr46 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr46")
      = f.custom_text_field :attr47, @telecaller_accessible_columns["attr47"][0], :value => f.object.attr47.present? ? f.object.attr47 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr47")
      = f.custom_text_field :attr48, @telecaller_accessible_columns["attr48"][0], :value => f.object.attr48.present? ? f.object.attr48 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr48")
      = f.custom_text_field :attr49, @telecaller_accessible_columns["attr49"][0], :value => f.object.attr49.present? ? f.object.attr49 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr49")
      = f.custom_text_field :attr50, @telecaller_accessible_columns["attr50"][0], :value => f.object.attr50.present? ? f.object.attr50 : "","background" => "false",:class => "disable_column" if @telecaller_accessible_columns.keys.include?("attr50")
      - if @invitee_data.errors.present?
        .errorFieldTele
          - arr1 = @telecaller_accessible_columns.map{|x,y| x}
          - arr2 = @invitee_data.errors.map{|x,y| x.to_s}
          %span.errorMessage
            = arr2.map{|x| @invitee_structure["#{x}"] + " " + @invitee_data.errors["#{x}".to_sym][0] if arr1.exclude? x}.compact[0].gsub("This field ",'') rescue ''
          / - if @invitee_data.errors[:status].present? or @invitee_data.errors[:reported_status=].present? or @invitee_data.errors[:remark].present? 
          /   %span.errorMessage
          /     Email Already Exists.
      .clear
      = f.hidden_field :telecaller_id,:value =>current_user.id
      = f.hidden_field :is_updated , :value => false
      .fixed-activon-btn-new.btn-bottom.tellbgnone.teleclick
        = f.custom_submit_button1 "SAVE", :class=>"col-md-6 btn back_button"
        .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
          .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn.editButton
            = link_to "Cancel", admin_event_telecaller_path(:event_id => @event.id,:id => current_user.id),:class=>"col-md-6 btn back_button"
        
