- if !objs.present? and !params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = render :partial => 'admin/layouts/index_no_data_message', :locals => {:title => "panels", :url => "/admin/events/#{params[:event_id]}/panels/new", :msg => 'test'}
-elsif !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = get_search_data("panels")
- else  
  %table.table.mdl-data-table.fullwidth.ml-table-striped.ml-table-bordered{"template-pagination" => "custom/pager"}
    %tr
      - if @event.is_parent?
        %th Sequence
      %th Name 
      %th Email
      %th Panel 
      %th Visibility status
      %th
    - objs.each_with_index do |panel, index|
      %tr
        - if @event.is_parent?
          %td.sortable
            .orderseq
              - if index != 0
                %span= link_to "",admin_event_sequence_path(:event_id => panel.event_id, :id => panel.id, :seq_type => "up", :feature_type => "panels"),:class => "uparrow", :method => "put", :remote => true
              - if panel.sequence.to_i != 0 and (@panels.length - 1) != index
                %span= link_to "",admin_event_sequence_path(:event_id => panel.event_id, :id => panel.id, :type => "down", :feature_type => "panels"),:class => "downarrow", :method => "put", :remote => true

        %td.font16= panel.name rescue nil
        %td.font16= panel.speaker_email rescue nil
        %td.font16= (panel.panel_type=="speaker" ? "speaker/expert" : panel.panel_type) rescue nil  #panel.panel_type rescue nil
        %td.font16= (panel.hide_panel == "active") ? "Hide" : "Active"
        %td.IconDrp 
          = more_vert_button(panel.id)
          %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right#{panel.id}"}
            = edit_link(params, panel.id)
            -if (@event.qna_settings.blank? or panel.received_questions.blank? or panel.hide_this_panel == false) and @event.is_parent?
              = delete_link(params, panel.id)
            -if (panel.hide_this_panel == true and panel.hide_panel == "deactive")
              = link_to "Hide Panel",admin_event_panel_path(:event_id => panel.event_id,:id => panel.id,:hide_panel => "active"), :method => "put", data: { confirm: 'Do you want to change the status?' },:class => "mdl-menu__item"
