.save_button.mdl-card
  = form_for [:admin, @client], :builder => CustomFormBuilder do |f|
    .mdl-grid.mdl-shadow--1dp.p-b-30
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          General Information
      = render :partial => "admin/layouts/whats_this_popup", :locals => {:image_name => "client_generalInfo.jpg", :section_id => "client_general_section"}
      = f.custom_text_field :name, "Client Name *"
      = f.custom_text_area_field :remarks, "Remarks"
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-b-10
        .mdl-grid.p-v-5
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt Hide Import for all Modules 
          .col-lg-3.p-h-12.m-8
            = f.custom_radio_button_menu :hide_import, "yes","Yes", :id => "option-1_hide_import",:default_checked => (f.object.hide_import.present? and f.object.hide_import == "yes") ? 'checked' : ''
            = f.custom_radio_button_menu :hide_import, "no", "No", :id => "option-2_hide_import",:default_checked => (f.object.hide_import.present? and f.object.hide_import == "no") ? 'checked' : ''
            .field_with_errors
              .span{:class => "errorMessage"}
                = f.object.errors.messages[:hide_import].join("") rescue nil     
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-b-10
        .mdl-grid.p-v-5
          .col-lg-4.mdl-typography--text-right
            %p.displayInlineBlock.multicitytxt Hide Export for all Modules 
          .col-lg-3.p-h-12.m-8
            = f.custom_radio_button_menu :hide_export, "yes","Yes", :id => "option-1_hide_export",:default_checked => (f.object.hide_export.present? and f.object.hide_export == "yes") ? 'checked' : ''
            = f.custom_radio_button_menu :hide_export, "no", "No", :id => "option-2_hide_export",:default_checked => (f.object.hide_export.present? and f.object.hide_export == "no") ? 'checked' : ''
            .field_with_errors
              .span{:class => "errorMessage"}
                = f.object.errors.messages[:hide_export].join("") rescue nil         
    .fixed-activon-btn-new  
      = f.custom_submit_button "SAVE"
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btnsubmit.m-l-18.cancelBg
        .mdl-cell--12-col.mdl-cell--12-col-tablet.cancelbtn
          = back_button(:back)